<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .}}
    <script src='https://tiles.locationiq.com/v3/libs/maplibre-gl/1.15.2/maplibre-gl.js'></script>
    <link href='https://tiles.locationiq.com/v3/libs/maplibre-gl/1.15.2/maplibre-gl.css' rel='stylesheet' />
        
    <script src='https://tiles.locationiq.com/v3/js/liq-styles-ctrl-libre-gl.js?v=0.1.8'></script>
    <link href='https://tiles.locationiq.com/v3/css/liq-styles-ctrl-libre-gl.css?v=0.1.8' rel="stylesheet" />
</head>

<body>
    <nav>
        <div id="logo">Groupie Tracker</div>
        <footer>
            2025
        </footer>
    </nav>
    {{ block "content" .}} {{end}}
    {{ block "footer" .}} {{end}}
</body>

</html>