<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
</head>

<body>
    <div>
        <h1>{{ .Name}}</h1> <!-- Affiche le nom du groupe -->
        <img src={{.Image}} alt="">
        <div>
            <div>{{ .FirstAlbum }}</div> <!-- Template data needs to be time.Time to format -->
            <div>
                {{ range .Members}} <!-- Affiche les noms des artistes du groupe -->
                <p>{{.}}</p> <!-- Permet de faire le saut de ligne avec un Point "." -->
                {{end}} <!-- Met fin à la boucle range -->
            </div>
            <p>
                {{range .ConcertDates}} <!-- Affiche les dates des concerts -->
                    <p>{{.}}</p> <!-- Permet de faire le saut de ligne avec un Point "." -->
                {{end}} <!-- Met fin à la boucle range -->
            </p>
            <div>
            </div>
        </div>
    </div>
</body>

</html>