<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
</head>

<body>
    <div>
        <h1>{{ .Name}}</h1>
        <img src={{.Image}} alt="">
        <div>
            <div>{{ .FirstAlbum }}</div> <!-- Template data needs to be time.Time to format -->
            <div>
                {{ range .Members}}
                <p>{{.}}</p>
                {{end}}
            </div>
            <p>
                {{range .ConcertDates}}
                    <p>{{.}}</p>
                {{end}}
            </p>
            <div>
                <img src="{{.MapURL}}" alt="Error when loading map">
            </div>
        </div>
    </div>
</body>

</html>