<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/home.css">
  </head>

  <body>

    <!-- Méthode POST plutôt que GET. GET affiche tout dans l'URL, tandis que POST envoi tout dans la requête, plus sécurisé. -->
    <form method="POST" action="/search">
        <input type="text" name="search" placeholder="Rechercher un groupe, un artiste, une date..." />
        <button type="submit"></button>
    </form>

    <div class="artists-list">
      {{ range .}} <!-- Ouvre la lecture des données de la structure Artists -->
        <div class="artists-card">
          <div class="artists-Image">
            <img src="{{.Image}}" alt=""> <!-- Affiche l'image du groupe -->
          </div>
          <br>
          <b>Nom du groupe :</b>  {{.Name}}
          <br><br>
          <b>Les membres du groupe sont :</b>
            {{range .Members}} <!-- Débute la lecture de la liste des membres dans Members de la Structure Artists -->
                <li>{{.}}</li>
            {{end}} <!-- Termine la lecture de la liste des membres dans Members de la Structure Artists -->
          <b>Date de fondation du groupe : </b> {{.CreationDate}}
          <br><br>
          <b>Leur premier album sort en </b> {{.FirstAlbum}}
          <br>
<!--           <b>Les lieux de concerts sont :</b>
            {{range .Locations}}
              <li>{{.}}</li>
            {{end}}
          <br>
          <b>Les dates de concerts sont :</b>
            {{range .ConcertDates}}
                <li>{{.}}</li>
            {{end}} -->
          <!-- l'API Relations donnant toutes les informations, les deux boucles précédentes sont mises en commentaires. -->
          <h3>Concerts :</h3>
          <ul>
            {{range $dates, $Locations := .Relations}}
              {{range $Locations}}
                <li>{{$dates}} / {{.}}</li>
              {{end}}
            {{end}}
          </ul>
      </div>
      {{end}} <!-- Termine la lecture des données de la structure Artists -->
  </div>
    <footer>
      <p>©Copyright by the legendary Nobody</p>
    </footer>
  </body>
</html>