{{ define "content" }}
    <main class="artists-list">
      <div class="container">
          {{ range .}}
            <div class="card">
              <div class="artistImage">
                <img src="{{.Image}}" alt="">
          
              </div>
          
              <a href="artist?id={{.ID}}">
                  <p class="artistName">{{.Name}}</p>
              </a>
              <p class="creationDate">{{.CreationDate}}</p>
          
          </div>
              {{end}}
      </div> 
  </main>
{{ end }}